.table {
  margin: 0;
}

.table th, .table td {
  vertical-align: middle;
}

.etat {
  text-align: center;
  font-size: 1.6em;
}

.etat > .true {
  color: green;
}

.etat > .false {
  color: red;
}

nav {
  display: flex;
  background-color: #212529;
  justify-content: space-around;
}

nav .toggle {
  color: white;
  padding: 10px 0;
  cursor: pointer;
}

nav .toggle:first-child {
  border-bottom: #32383e solid 1px;

}

nav .toggle p, nav .toggle a {
  margin: 0;
  color: white;
  text-decoration: none;
}

form {
  width: 50%;
  margin: 30px auto;
}

.btn {
  display: block;
  margin: auto;
}
